#logos
  = image_tag 'google.gif'
%h2 The "Down Payment" Idea
%dl.down-payment
  %dt
    First Question: How Do You Make a Down Payment On a
    %em Potential
    Network?
  %dd
    Here's the
    = succeed '.' do
      = link_to 'scoop', 'http://my.madison.com/forums/Topic4335160-2894-1.aspx'
    We wanted to set up a good way to collect actual down payments that would eventually help pay for a potential Google fiber network. Well, we (the MadFiber cabal) are good, but not that good. There's just no practical way in the next few days to make a direct down payment on Google investing in our community.
  %dt
    Where Does That Leave Us?
  %dd
    So if we can't invest in a fiber project for Madison, we can at least show Google our community's resolve
    %strong and
    still invest in our region. Some very intelligent people have calculated that a gigabit connection through Google's network could cost around $50 per month. So the plan is to contribute $49.95 to Madison College's scholarship fund. For every $1 spent on the fund, about $4 is returned to the community, so it's a no-brainer. Plus, it frees up us cabal members to spend our energy on other matters.
  %dt
    Sounds Like a Great Idea! How Do I Do It?
  %dd
    It's very simple. Show Google our ability to rally behind a cause by
    = succeed '.' do
      = link_to 'contributing $49.95 to Madison College', 'http://www.matcalumni.com/?page=GoogleFiber'
    It's probably less than your cable bill!
