- content_for :javascripts do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
  :javascript
    var pins = #{pins_to_js(@pins)};
    $(function(){
      $("a[href='#map-entry']").click(function(){
        $('#pin_name').focus();
      });
    });
  = javascript_include_tag 'map'

- content_for :sidebar do
  %li
    #add-your-pin= render :partial => 'shared/panels/add_your_pin'

%h1 Bring Google Fiber to Madison!

%p
  Google is launching
  = link_to 'an experiment', google_landing_url
  to bring
  = link_to '"ultra-high speed broadband"', google_overview_url
  to
  %strong just one city
  in the United States, and Madison fits their stated criteria. The Google Fiber trial network would offer Internet speeds of 1 gigabit per second (1,000 megabit per second) &mdash; or more than 100 times faster than what most Americans have today at a competitive price.

%p
  We believe Madison is a perfect fit as Google's trial city. Madison has a strong research and technology base, augmented by the 40,000 strong University of Wisconsin student population (10,000 new hungry minds a year) Madison hosts a growing high-tech entrepreneurial sector employing the demographics that will immediately adopt this service. Finally, Madison's city government is strongly and officially supporting this effort.

%h3 Everyone can show support:
%ul
  %li
    Fill out the
    = link_to 'Google Fiber Nomination form', google_nomination_url
  %li
    Email pictures and video saying how you support Google Fiber to
    = mail_to 'post@madfiber.posterous.com', 'post@madfiber.posterous.com', :subject => 'I Support Google Fiber #madfiber ((tag:madfiber))'
  %li
    Join and share with friends on
    = succeed ',' do
      = link_to 'Flickr', flickr_url
    = succeed ',' do
      = link_to 'Facebook', facebook_url
    = succeed ',' do
      = link_to 'YouTube', youtube_url
    and
    = link_to 'Twitter', twitter_url
%p
  See the
  = link_to 'organizations and people', supporters_path
  behind this effort.

#gmap{style: 'width: 580px; height: 580px'}
#how-many #{@pins.count} people are interested!
%p
  Send formal contributions for the city's response to:
  = mail_to 'googlefiber@cityofmadison.com'
%p
  Send madfiber.net questions to:
  = mail_to 'preston@imby.info'
