- content_for :javascripts do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
  :javascript
    var pins = #{pins_to_js(@pins)};
  = javascript_include_tag 'map'
- content_for :sidebar do
  %h2
    Show your support!
    %br
    Fill out the information below
  #map-entry
    - form_for @pin do |pin|
      = pin.error_messages
      - if flash[:notice] || params[:f].present?
        %span#flash= flash[:notice] || params[:f]
      = pin.label :name, 'Your Name or Business Name'
      = pin.text_field :name
      = pin.label :address, 'Address for Map (optional)'
      = pin.text_field :address
      = pin.label :zip, 'Zip Code'
      = pin.text_field :zip
      %br/
      = pin.submit


%h1 Bring Google Fiber to Madison!
%p
  Google is launching
  = link_to 'an experiment', 'http://www.google.com/appserve/fiberrfi'
  to bring
  = link_to '"ultra-high speed broadband"', 'http://www.google.com/appserve/fiberrfi/public/overview'
  to
  %strong just one city
  in the United States.
%p
  The Google Fiber trial network will allow people in the test city to experience Internet speeds of 1 gigabit per second &mdash; or
  = precede '"' do
    %strong more than 100 times faster
  than what most Americans have today" at "a competitive price." Google intends to test this ultra-high speed Internet in a city with a population between 50,000 and 500,000.
%p
  With a population of just under 225,000, we believe Madison is a perfect fit as Google's trial city. Madison has a strong research and technology base, augmented by the 40,000 strong University of Wisconsin student population. Madison is also home to a growing high-tech entrepreneur community and is home to many young professionals, who, along with college students, make up a large percentage of the demographic that loves to consume large amounts of bandwidth. Madison's city government is also a strong supporter of helping bring Google Fiber to Madison.
%p
  Show your support by signing your household up on this Google Maps interactive petition. Invite your neighbors, co-workers and other Madisonians! Join the
  = succeed ',' do
    = link_to 'Facebook group', 'http://www.facebook.com/pages/Madison-WI/Bring-Google-Fiber-to-Madison-Wisconsin/298796674303'
  follow our progress on Twitter and remember to Google Buzz to bring Google Fiber to Madison!
%h2 Get Involved!
%ul
  %li
    Watch the City Meeting
    = link_to 'live streamed', 'http://www.livestream.com/imsmadison'
    on Thursday, March 11 at 7pm or check out the
    = link_to 'slides', '/assets/city_meeting_slides.pdf'
  %li
    Fill out the
    = link_to 'Google Fiber Nomination form', 'http://www.google.com/appserve/fiberrfi/public/options'
  %li
    Become a fan of the
    = link_to 'Facebook page', 'http://www.facebook.com/pages/Madison-WI/Bring-Google-Fiber-to-Madison-Wisconsin/298796674303'
  %li
    Follow us on
    = link_to 'Twitter', 'http://twitter.com/GoogNet4Madison'
  %li
    Check out our
    = link_to 'Flickr', 'http://www.flickr.com/groups/madfiber'
    and
    = link_to 'YouTube', 'http://www.youtube.com/madfiber2010'
    pages
  %li
    Tag your tweets and posts with
    = link_to '#madfiber', 'http://search.twitter.com/search?q=%23madfiber'
    so we can find and link them
  %li
    Get your pin on this GooFi little map!
#gmap{style: 'width: 500px; height: 500px'}
#how-many #{@pins.count} people are interested!
%h2 Want to get even more involved?
%ul
  %li
    Create content online &mdash; what would fast-awesome broadband do for you and Madison?
  %li
    Tag your online photos, videos, and posts (so we can find them) with #madfiber
  %li
    Email anything you want to offer for the City's application to
    = mail_to 'googlefiber@cityofmadison.com'
    if you can't figure out where else to put it
  %li
    Email
    = mail_to 'preston@imby.info'
    if you want to help the madfiber.net crew out with this site and related efforts
