!!! 5
%html
  %head
    %title Help Bring Google Fiber to Madison! (MadFiber)
    = stylesheet_link_tag 'site'
    - if Rails.env.development?
      = javascript_include_tag 'jquery/jquery-1.4.2'
    - else
      = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = yield :javascripts
  %body
    #content
      #sidebar
        = image_tag 'BringGoogleFiberToMadisonLogo.png'
        #fb
          %a{href: 'http://www.facebook.com/pages/Madison-WI/Bring-Google-Fiber-to-Madison-Wisconsin/298796674303'}
            Join the cause on Facebook!
            Help bring Google Fiber to Madison Wisconsin.
        #twitter
          %a{href: 'http://search.twitter.com/search?q=%23madfiber'}
            Follow us on Twitter!
            %br/
            \#madfiber
        = yield :sidebar
      #main= yield
      .clear
    #footer
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2678233-3");
      pageTracker._trackPageview();
      } catch(err) {}
