!!! 5
%html
  %head
    %title Help Bring Google Fiber to Madison! (MadFiber)
    = stylesheet_link_tag 'site'
    - if Rails.env.development?
      = javascript_include_tag 'jquery/jquery-1.4.2'
    - else
      = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = yield :javascripts
  %body
    #content
      #sidebar
        #madison-logo= image_tag 'BringGoogleFiberToMadisonLogo.png'
        #get-involved Get Involved!
        #fb
          - join_facebook = capture_haml do
            Fan us on
            %br
            Facebook
            %br
            %span
              Become a fan of
              %strong Bring Google Fiber to Madison Wisconsin!
          = link_to join_facebook, facebook_url
        #twitter
          - follow_twitter = capture_haml do
            Follow on
            %br
            Twitter
            %span
              Follow
              %strong GoogNet4Madison
              and tag your tweets
              %strong #madfiber
          = link_to follow_twitter, 'http://search.twitter.com/search?q=%23madfiber'
        #posterous
          - posterous = capture_haml do
            Post vids and pics
            %span
              Add your pictures and videos to the stream.
              Email them to
              %strong post@madfiber.posterous.com
          = link_to posterous, posterous_url
        #flickr
          - flickr = capture_haml do
            Show us on Flickr
            %span
              Upload your &quot;I'd use Google Fiber&quot;
              pic to show where you would use it. Tag it
              %strong madfiber
          = link_to flickr, flickr_url
        = yield :sidebar
        #widget
          %script{:type => 'text/javascript', :src => widget_js_url}
          :javascript
            if (WIDGETBOX) WIDGETBOX.renderWidget('0ee35e6d-afd0-4652-9a41-6d05f23dddef');
          %noscript
            Get the
            = link_to "madfiber's posterous - Share your hopes and dream", widget_url
            widget and many other.
            %br
            Not seeing a widget?
            = link_to '(More info)', widget_install_url
      #main= yield
      .clear
    #footer
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2678233-3");
      pageTracker._trackPageview();
      } catch(err) {}
