!!! 5
%html
  %head
    -# TODO: add meta tags!
    %title Help Bring Google Fiber to Madison! (MadFiber)
    = stylesheet_link_tag 'site'
    = yield :stylesheets
    - if Rails.env.development?
      = javascript_include_tag 'jquery/jquery-1.4.2'
    - else
      = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = yield :javascripts
  %body{:class => controller_name}
    #content
      - unless @hide_sidebar
        #sidebar
          #madison-logo= image_tag 'BringGoogleFiberToMadisonLogo.png'
          #get-involved Get Involved!
          %ul
            %li
              #fb= render :partial => 'shared/panels/facebook'
            %li
              #twitter= render :partial => 'shared/panels/twitter'
            %li
              #posterous= render :partial => 'shared/panels/posterous'
            %li
              #flickr= render :partial => 'shared/panels/flickr'
            = yield :sidebar
      #main
        - if user_signed_in?
          #sign-out= link_to '[logout]', destroy_user_session_path
        - if flash.present? && controller_name != 'welcome'
          - flash.each do |k,v|
            %div{:id => "flash_#{k}"}= v
        = yield
      .clear
    #footer
      %ul
        %li.first= link_to 'The MadFiber Cabal', cabal_members_path
        -#%li= link_to 'Privacy Policy'
      &copy;2010
      = link_to 'The MadFiber Cabal', cabal_members_path

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2678233-3");
      pageTracker._trackPageview();
      } catch(err) {}
